/* WORK IN PROGRESS !!! */

section#redaction {
    grid-area: content;
    display: grid;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 4pt;
    grid-template-columns: 10% 50% 40%;
    grid-template-areas:
    "header  header  header"
    "scontent scontent scontent"
    "footer  footer  footer"
    "toolbar  toolbar  toolbar";
}

#edition {
    grid-area: scontent;
    padding: 2pt;

    div.figures {
        display: none;
    }

    div.meta {
        display: block !important;
        clear: both;
        padding-bottom: 4pt;
        border-bottom: 1px dashed #7775;
        width: 100%;
    }
}


div.content {

    p {
        &:has(table), &:has(img) {
            text-align: center;
        }
    }

    /*
    button.edit {
        &:before {
            content: "📝 ";
        }
    }
    */

    img {
        max-width: 98%;
    }

    table {
        margin-left: auto;
        margin-right: auto;

        td, th {
            padding: 2pt 4pt;
        }
    }

    div.paragraph {
        border: 1px dashed #7775;
        margin-block: 4pt;
        padding: 4pt;

        &:hover {
            border-color: #777f;
            background-color: #7771;
        }

        ul,ol {
            tex-align: left !important;

        }
    }
}

section#edition {
    footer.actions {
        display: none;
    }
}
