/* WORK IN PROGRESS !!! */

body.chat_n_edit {
    max-width: none;
    min-height: 100vh;
    padding: 0;

    grid-template-columns: 20% 40% 40%;
    grid-template-areas:
	"header  header  header "
	"content content content"
	"footer  footer  footer "
	"toolbar toolbar toolbar";

    div.go_to_content {
        display: none;
    }

    nav#site {
        ul {
            width: 98%;
            margin-inline: 1%;
            float: none;
        }
    }
}

body.chat_n_edit #overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out 0.2s, z-index 0s 0.4s;
    background-color: inherit;
}

body.chat_n_edit #toolbar {
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: visible;
    border: none;
    bottom: 5px;
    font-size: 1em;
    padding: 0;
    right: calc(calc((100vw - 150ex) / 2) + 20px);
    left: auto;
    transition: right ease-in-out 0.5s
}

body.chat_n_edit #toolbar img.button {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    padding: 5px;
    border-radius: 50%;
}

body.chat_n_edit #toolbar #toolbar-hide-toc-button {
    display: none
}

body.chat_n_edit #toolbar #toolbar-hide-toc-button[data-popup-toolbar-toc-shown] {
    display: block
}

body.chat_n_edit #toolbar #toolbar-show-toc-button[data-popup-toolbar-toc-shown] {
    display: none
}

body.chat_n_edit #toolbar[data-popup-toolpanel-shown] {
    right: calc(22rem + 20px)
}

body.chat_n_edit #toolbar #toolbar-toc {
    display: none;
    width: 30vw;
    font-size: 0.8em;
    position: absolute;
    right: 8px;
    bottom: 3em;
    border-radius: 6px;
    padding: 0px 10px;
    max-height: calc(100vh - 5px - 2.5em);
    overflow-y: auto
}

body.chat_n_edit #toolbar #toolbar-toc[data-popup-show] {
    display: block
}

body.chat_n_edit #toolbar #toolbar-toc h2 {
    display: none
}

body.chat_n_edit #toolbar #toolbar-toc ul.toc {
    margin-left: 1.2em;
    padding-left: 1em;
    list-style-type: upper-roman
}

body.chat_n_edit #toolbar #toolbar-toc ul.toc ul {
    list-style-type: decimal;
    padding-left: 1em
}

body.chat_n_edit #toolbar #toolbar-toc ul.toc li {
    padding-top: 10px
}

body.chat_n_edit #toolbar #toolbar-toc ul.toc a {
    font-weight: normal
}

body.chat_n_edit #toolpanel {
    z-index: 20;
    position: fixed;
    right: 0;
    top: 0;
    width: 22rem;
    height: 100vh;
    max-height: 100vh;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 0.8em;
    transition: width 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 0px #999
}

body.chat_n_edit #toolpanel hr {
    border: solid 1px #7775;
}

body.chat_n_edit #toolpanel .tab-header-container {
    -ms-flwx-wrap: nowrap;
    flex-wrap: nowrap
}

body.chat_n_edit #toolpanel .tab-content-container {
    position: absolute;
    overflow-y: auto;
    width: calc(22rem - 6px);
    height: calc(100vh - 3em)
}

body.chat_n_edit #toolpanel #tab-chat {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

body.chat_n_edit #toolpanel #tab-chat .inbox-container {
    max-width: 100%;
    overflow-y: auto
}

body.chat_n_edit #toolpanel #tab-chat form.chat {
    margin-bottom: 0px
}

body.chat_n_edit #toolpanel #tab-chat .board {
    min-height: 30vh;
    width: 100%;
    -ms-flex: 1 0 50vh;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between
}

body.chat_n_edit #toolpanel #tab-chat .board .inbox-container {
    height: 10em;
    -ms-flex: 1 0 50vh;
    flex-grow: 1
}

body.chat_n_edit #toolpanel #tab-chat:not([data-show-content]) {
    display: none
}

body.chat_n_edit #toolpanel .inbox p {
    margin: 2px 0
}

body.chat_n_edit #toolpanel .popup-event[data-popup-id="toolpanel"] {
    display: none
}

body.chat_n_edit #toolpanel:not([data-popup-show]) {
    width: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden
}

body.chat_n_edit #toolpanel #news_vote h1 {
    font-size: 1em;
    font-weight: normal;
    padding: 0
}

body.chat_n_edit #toolpanel #news_statistics {
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

body.chat_n_edit #toolpanel #news_statistics p {
    width: 50%;
    -ms-flex-positive: 1;
    flex-grow: 1
}

body.chat_n_edit #toolpanel .attendee {
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

body.chat_n_edit #toolpanel .attendee-name {
    margin-left: 5px
}

body.chat_n_edit #toolpanel .attendee a {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    margin: 6px
}

body.chat_n_edit #toolpanel .attendee a img {
    max-height: 100%
}

body.chat_n_edit #toolpanel .attendee a form {
    position: absolute;
    bottom: 0;
    right: 0
}

body.chat_n_edit #toolpanel .attendee a form input {
    margin: 0
}

body.chat_n_edit #toolpanel #tab-help table {
    table-layout: fixed;
}

body.chat_n_edit #toolpanel #tab-help table th,body.chat_n_edit #toolpanel #tab-help table td {
    vertical-align: top;
    padding: 0.3em 0.8em;
/*    word-wrap: break-word;
    overflow-wrap: break-word
*/
}

body.chat_n_edit #toolpanel #tab-help table tr:first-child th {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px
}

body.chat_n_edit #toolpanel #tab-help table .tr-title {
}

body.chat_n_edit #toolpanel #tab-help table .tr-title th {
    font-weight: normal;
    text-transform: uppercase;
    text-align: left
}

#redaction {
    min-height: 100vh;
    max-width: 150ex;
    margin: 0 calc((100vw - 150ex) / 2);
    transition: max-width 0.5s ease-in-out, margin-right 0.5s ease-in-out
}

#redaction[data-popup-toolpanel-shown] {
    margin-right: 22rem
}

#redaction #topbar {
    padding: 0.2em 0;
    margin-bottom: 1em;
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

#redaction #topbar .lastmodifications {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: small
}

#redaction #topbar .lastmodifications .revision-table {
    display: table;
    width: 3em;
    height: 3em;
    font-size: x-small;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/images/icones/rotate-ccw.svg")
}

#redaction #topbar .lastmodifications .revision-table .revision-cell {
    display: table-cell;
    vertical-align: middle
}

#redaction #topbar .lastmodifications p {
    padding: 0 5px
}

#redaction #topbar .attendees {
    margin-left: 0.5em;
    padding-left: 0.5em;
}

#redaction #topbar .attendees a {
    text-decoration: none;
    font-size: x-small
}

#redaction #topbar .attendees a img {
    height: 32px;
    width: 32px
}

#redaction #topbar .attendees .attendee {
    display: inline
}

#redaction #topbar .attendees .attendee-name {
    display: none
}

#redaction article h1 {
    margin-right: 30px
}

#redaction .score,#redaction .datePourCss {
    right: 0
}

#redaction .score {
    top: 31px
}

#redaction .datePourCss {
    top: 0
}

#redaction #links {
    overflow: visible
}

#redaction #edition {
    margin-right: 15px;
    margin-left: 15px;
    padding-left: 3px;
    padding-right: 3px
}

#redaction #edition p {
    margin: 0 0 5px;
    padding: 5px
}

#redaction #edition textarea {
    width: 100%
}


#redaction .edition_in_place,#redaction .paragraph,#redaction .link {
    position: relative
}

#redaction .edition_in_place .edit,#redaction .paragraph .edit,#redaction .link .edit {
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 15px;
    background: no-repeat 6px 6px/16px #e9e6e4;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-edit-3%22%3E%3Cpath%20d%3D%22M12%2020h9%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M16.5%203.5a2.121%202.121%200%200%201%203%203L7%2019l-4%201%201-4L16.5%203.5z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    text-indent: -9999em
}


#redaction .edition_in_place .actions,#redaction .paragraph .actions,#redaction .link .actions {
    position: absolute;
    bottom: -5px;
    right: 15px;
}

#redaction .edition_in_place .actions button,#redaction .paragraph .actions button,#redaction .link .actions button {
    visibility: hidden
}

#redaction .edition_in_place .actions button:hover,#redaction .paragraph .actions button:hover,#redaction .link .actions button:hover {
}

#redaction .edition_in_place:hover,#redaction .paragraph:hover,#redaction .link:hover {
}

#redaction .edition_in_place:hover .actions button,#redaction .paragraph:hover .actions button,#redaction .link:hover .actions button {
    visibility: visible
}

#redaction #new_link,#redaction .edit_link {
    padding: 5px
}

#redaction input#link_title {
    width: 100%
}

div#toolpanel {

    div.tab-header-container {
    }

    div#tab-history {

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-indent: 0;

            li {
                margin: 0;
                padding: 2pt;
                text-indent: 0;

                &:nth-child(odd) {
                    background-color: #7772;
                }
            }
        }
    }


    div#tab-help {

	table {

            tr {

		th {
                    font-weight: bold;
                    background-color: #7772;
		    text-align: center !important;
		    font-weight: bold !important;
		}

		td {
                    font-family: monospace;
                    font-size: large;
                    word-wrap: anywhere !important;
                    text-wrap: wrap !important;
		}
            }
	}
    }

    div#tab-details {
    }

}


div.tab-header-container {
    display: flex;
    border-bottom: 2pt solid #7779;
    padding-top: 2pt;
    padding-inline: 2pt;

    div.tab {
        margin: 0pt 4pt;
        border-top: 2pt solid #7779;
        border-inline: 2pt solid #7779;
	border-top-left-radius: 4pt;
	border-top-right-radius: 4pt;
        padding: 2pt 4pt;

        &:hover {
            cursor: pointer;
        }

        &[data-show-content="true"] {
            font-weight: bold;
            background-color: #7779;
        }

    }
}

div.tab-content-container {

    div.tab-content {
        display: none;
    }

    div.tab-content[data-show-content="true"] {
        display: inherit;
    }
}


div.tab-header-container {
    div.tab {
	opacity: .6;
    }
    div.tab[data-show-content="true"] {
	opacity: 1;
    }
}

div#tab-history {
    li {
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            text-wrap: wrap;
            font-weight: bold;
        }
    }
}

body#news-revision {

    pre {
        text-wrap: wrap;
    }
}

div#toolbar-toc {
    background-color: inherit;
    border: 2pt solid #7775;
}
