/* WORK IN PROGRESS */

div.markItUpContainer {
    * {
        background-color: inherit;
    }
}

div.markItUpContainer {

    div.markItUpHeader {
	ul {
            margin: 0;
            padding: 0 2pt;
            height: 1.2em;
            li {
		margin: 0;
		padding: 0 2pt;
	    }
        }

    }
}

.markItUpContainer {
    margin-bottom:1em;
    border: 1pt solid #7772;
}
.markItUpHeader {
    border-bottom:thin solid #dddddd;
    padding:0.5em 1%;
    height:1.2em;
    border-top-left-radius:4pt;
    border-top-right-radius:4pt;
}
.markItUpEditor,
section#container .markItUpEditor {
    width:100%;
    height:20em;
    display:block;
    overflow:auto;
    border:none;
    padding:0;
    margin:0
}
.markItUpEditor:focus,
section#container .markItUpEditor:focus {
}
.markItUpFooter {
    padding:0.5em 0;
    border-top:thin solid #7772;
    border-bottom-right-radius:4pt;
    border-bottom-left-radius:4pt;
}
.markItUpResizeHandle {
    overflow:hidden;
    width:20%;
    height:0.5em;
    margin-left:auto;
    margin-right:auto;
    cursor:s-resize
}
.markItUpHeader ul li {
    list-style:none;
    float:left;
    position:relative
}
.markItUpHeader ul li ul {
    display:none
}
.markItUpHeader ul li:hover>ul {
    display:block
}
.markItUpHeader ul a {
    display:block;
    width:1.2em;
    height:1.2em;
    text-indent:-1000em;
    background-repeat:no-repeat;
    background-position:center center;
    -moz-background-size:100%;
    -webkit-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    margin:0 0.3em
}
.markItUpHeader ul .markItUpSeparator {
    margin:0 1em;
    width:0;
    height:1.2em;
    overflow:hidden;
    border-left:thin solid #cccccc
}
.markItUp .h1 a {
    background-image:url(https://linuxfr.org/images/markitup/h1.png)
}
.markItUp .h2 a {
    background-image:url(https://linuxfr.org/images/markitup/h2.png)
}
.markItUp .h3 a {
    background-image:url(https://linuxfr.org/images/markitup/h3.png)
}
.markItUp .h4 a {
    background-image:url(https://linuxfr.org/images/markitup/h4.png)
}
.markItUp .bold a {
    background-image:url(https://linuxfr.org/images/markitup/bold.png)
}
.markItUp .italic a {
    background-image:url(https://linuxfr.org/images/markitup/italic.png)
}
.markItUp .stroke a {
    background-image:url(https://linuxfr.org/images/markitup/stroke.png)
}
.markItUp .list-bullet a {
    background-image:url(https://linuxfr.org/images/markitup/list-bullet.png)
}
.markItUp .list-numeric a {
    background-image:url(https://linuxfr.org/images/markitup/list-numeric.png)
}
.markItUp .image a {
    background-image:url(https://linuxfr.org/images/markitup/picture.png)
}
.markItUp .link a {
    background-image:url(https://linuxfr.org/images/markitup/link.png)
}
.markItUp .quotes a {
    background-image:url(https://linuxfr.org/images/markitup/quotes.png)
}
.markItUp .code a {
    background-image:url(https://linuxfr.org/images/markitup/page_white_code.png)
}
.hll {
    background-color:#ffffcc
}
.c {
    color:#808080
}
.err {
    color:#f00000;
    background-color:#f0a0a0
}
.k {
    color:#008000;
    font-weight:bold
}
.o {
    color:#303030
}
.cm {
    color:#808080
}
.cp {
    color:#507090
}
.c1 {
    color:#808080
}
.cs {
    color:#cc0000;
    font-weight:bold
}
.gd {
    color:#a00000
}
.ge {
    font-style:italic
}
.gr {
    color:#ff0000
}
.gh {
    color:#000080;
    font-weight:bold
}
.gi {
    color:#00a000
}
.go {
    color:#808080
}
.gp {
    color:#c65d09;
    font-weight:bold
}
.gs {
    font-weight:bold
}
.gu {
    color:#800080;
    font-weight:bold
}
.gt {
    color:#0040d0
}
.kc,
.kd,
.kn {
    color:#008000;
    font-weight:bold
}
.kp {
    color:#003080;
    font-weight:bold
}
.kr {
    color:#008000;
    font-weight:bold
}
.kt {
    color:#303090;
    font-weight:bold
}
.m {
    color:#6000e0;
    font-weight:bold
}
.s {
    background-color:#fff0f0
}
.na {
    color:#0000c0
}
.nb {
    color:#007020
}
.nc {
    color:#b00060;
    font-weight:bold
}
.no {
    color:#003060;
    font-weight:bold
}
.nd {
    color:#505050;
    font-weight:bold
}
.ni {
    color:#800000;
    font-weight:bold
}
.ne {
    color:#f00000;
    font-weight:bold
}
.nf {
    color:#0060b0;
    font-weight:bold
}
.nl {
    color:#907000;
    font-weight:bold
}
.nn {
    color:#0e84b5;
    font-weight:bold
}
.nt {
    color:#007000
}
.nv {
    color:#906030
}
.ow {
    color:#000000;
    font-weight:bold
}
.w {
    color:#bbbbbb
}
.mf {
    color:#6000e0;
    font-weight:bold
}
.mh {
    color:#005080;
    font-weight:bold
}
.mi {
    color:#0000d0;
    font-weight:bold
}
.mo {
    color:#4000e0;
    font-weight:bold
}
.sb {
    background-color:#fff0f0
}
.sc {
    color:#0040d0
}
.sd {
    color:#d04020
}
.s2 {
    background-color:#fff0f0
}
.se {
    color:#606060;
    font-weight:bold;
    background-color:#fff0f0
}
.sh {
    background-color:#fff0f0
}
.si {
    background-color:#e0e0e0
}
.sx {
    color:#d02000;
    background-color:#fff0f0
}
.sr {
    color:#000000;
    background-color:#fff0ff
}
.s1 {
    background-color:#fff0f0
}
.ss {
    color:#a06000
}
.bp {
    color:#007020
}
.vc {
    color:#306090
}
.vg {
    color:#d07000;
    font-weight:bold
}
.vi {
    color:#3030b0
}
.il {
    color:#0000d0;
    font-weight:bold
}
.stats100px {
    width:100px
}
.statistics .stat {
    border-top:1px solid #4c575f;
    border-bottom:1px solid #4c575f;
    background:#f1abc5
}
.statistics .stat.category {
    background-color:green
}
.statistics .stat.opened {
    background-color:red
}
.statistics .stat.fixed {
    background-color:green
}
.statistics .stat.invalid {
    background-color:olive
}
.statistics .stat.month_new {
    background-color:red
}
.statistics .stat.remaining {
    background-color:darkred
}
.statistics .stat.month_fixed {
    background-color:green
}
.statistics .stat.month_invalid {
    background-color:olive
}
.statistics .stat.misc {
    background-color:green
}
.statistics .stat.account {
    background-color:olive
}
.statistics .stat.accountrecent {
    background-color:green
}
.statistics .stat.accountinactive {
    background-color:darkred
}
.statistics .stat.accountrecentinactive {
    background-color:red
}
.statistics .stat.accountpurged {
    background-color:#555555
}
.statistics .stat.contentdiary {
    background-color:pink
}
.statistics .stat.contentpost {
    background-color:orangered
}
.statistics .stat.contentnews {
    background-color:green
}
.statistics .stat.contenttracker {
    background-color:lightblue
}
.statistics .stat.contentpoll {
    background-color:olive
}
.statistics .stat.contentwikipage {
    background-color:orange
}
.statistics .stat.contentbookmark {
    background-color:#a9bcf5
}
.statistics span.score {
    color:#333
}
.statistics span.score:before {
    content:" ["
}
.statistics span.score:after {
    content:"] "
}
.statistics .top_or_flop {
    float:left;
    width:48%
}
