@import "color-schemes.css";

/* Layouts */
@import "layout-screen-all.css" screen;
@import "layout-screen-default.css" screen and (min-width:900px);
@import "layout-screen-narrow.css" screen and (min-width:500px) and (max-width:900px);
@import "layout-screen-thin.css" screen and (max-width:500px);

/* Styles */
@import "style-screen-all.css" screen;
@import "style-screen-default.css" screen and (min-width:900px);
@import "style-screen-narrow.css" screen and (min-width:500px) and (max-width:900px);
@import "style-screen-thin.css" screen and (max-width:500px);

/* redactions css (wip) */
@import "redaction-index.css" screen;

/* import des css originales */
@import "import-edit.css" screen;
@import "import-redaction.css" screen;
@import "import-markitup.css" screen;
