/* Layout for screen common to all sizes */

#bigfooter {
    grid-area: footer;
}

div#toolbar {
    grid-area: toolbar;
}

div#top {
}

nav#site {
    grid-area: header;
}

div#toolbar {

    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 0;

    #toolbar_items {
        width: 39%;
        margin-right: 1%;
    }

    #toolbar_alt_items {
        width: 39%;
        margin-right: 1%;
    }

    #toolbar_threshold {
        width: 19%;
        text-align: right;
    }
}
