body#redaction-index {

    #container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	padding: 40px 10px 10px
    }

    #container>div {
	padding: 10px
    }

    #container>footer,#container .notice {
	flex: 0 0 100%
    }

    aside.more {
	max-width: 300px;
	margin: 0 0 10px 10px;
	flex: 1 0
    }

    #main_board {
	width: 420px;
	margin: 0 0 10px 10px;
	flex: 2 0
    }

    #board_message {
	width: 100%
    }

    .create_news {
	margin: 5px 0 15px 0
    }

    #news,#candidate_news {
	display: flex;
	flex-wrap: wrap
    }

    .news {
	flex: 1 0 225px;
	margin: 0 25px 10px 0;
	padding: 6px;
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 0.8em;
	border: 1pt solid #7775;
	border-radius: 4pt;
    }

    h3 {
	flex: 1;
	font-size: 1.1rem;
	margin: 12px 16px 12px 0
    }

    .pen {
	position: absolute;
	width: 32px;
	height: 32px;
	right: -16px;
	top: 50%;
	margin-top: -16px;
	border-radius: 16px;
    }

    .pen img {
	width: 16px;
	height: 16px;
	margin: 8px
    }

    .meta img {
	float: right
    }

    #candidate_news .news {
	padding: 20px 5px;
	font-weight: bold
    }

}
