/* Styles */

div.searchbox {

    display: flex;
    width: 96%;
    padding: 0;
    margin-inline: 2%;

    label {
        width: 23%;
        margin-right: 2%;
        font-size: smaller;
    }

    input#query {
        width: 50%;
        margin-right: 2%;
    }

    input#search_submit {
        width: 23%;
    }
}


nav.pagination {
    font-size: smaller;
    text-align: justify;
}


footer#bigfooter {
    * {
        font-size: small;
    }
}


#sidebar {
    * {
        font-size: small;
    }
}


main#contents {

    img {
        max-width: 99%;
    }

    div.body div {
        margin: 2pt;
        padding: 2pt;
        font-size: x-small;
    }

    pre {
        border: 1pt solid #7775;
        border-radius: 4pt;
        padding: 4pt;
        max-width: 100%;
        margin: 1em 0;
        overflow: auto;
    }

}


div#comments {

    li.comment {
        background: #77777705;
        padding: 1pt;
        padding-left: 2pt;

        a.close, a.parent, a.folding, a.anchor {
            font-family: monospace;
            letter-spacing: 0pt;
            font-size: .8em;
            text-decoration: none;
            margin: 0em;
            padding: 0em;
        }

        h2 {
            margin-right: 1em;
        }

        h1,h2 {
            font-size: small;
        }

        p {
            font-size: small;
        }

        li {
            font-size: small;
        }

        footer {
            font-size: x-small !important;;
        }

        figure.image {
            display: none;
        }

    }

    ul, li {
        margin: 0;
        padding: 0;
    }
}

div.figures {

    display:inline-block !important;
    float: left;
    padding: 0;
    border: 1px solid #7775;
    border-radius: 4pt;
    width: 10%;
    margin: 0;
    text-align: center;
    font-size: smaller;
    box-shadow: 0px 0px 2px 2px #7773;
    font-size: smaller;
    overflow: hidden;
    font-size: x-small;

    * {
        margin: 0;
    }

    figure.datePourCss {
        white-space: nowrap;

        div.jour {
            margin-right: 2pt;
        }

        div.annee {
            display: none;
            display: block;
        }

        * {
            display: inline-block;
        }
    }

    figure.image {
        display: none;
    }

    figure.score {
        margin-bottom: 4pt;
        border-bottom: 1px solid #7775;
        overflow: hidden;
    }
}



div#toolbar {
    font-size: smaller;

    a.prev, a.next, a.change {
        text-decoration: none;
        border: 1px solid #7775;
        background-color: #7775;
        width: 1em;
        border-radius: 2pt;
        padding-inline: 2pt;
        display: inline-block;
        text-align: center;
    }
}

main article {

    h1,h2 {
        font-size: small;
    }

    p {
        font-size: small;
    }

    li {
        font-size: small;
    }

    footer {
        font-size: x-small !important;;
    }

    div.tags {

        * {
            display: inline-block;
            padding: 0;
            font-size: inherit;
        }

        li form {
            display: none !important;
        }

        div.tag_in_place {
            display: none;
        }
    }

    div.meta {
        font-size: x-small !important;
    }
}

div#toolbar {

    * {
        margin: 2pt 4pt;
        font-size: xx-small;
    }

    padding: 0 !important;

    /* FIXME: Il manque des balises pour les labels,
     mais avec un font-size 0, on s'en sort (presque) proprement. */
    span {
        font-size: 0;
    }

    span#toolbar_items:before {
        content: "🌟 📰";
        font-size: initial;
    }

    span#toolbar_alt_items:before {
        content: "🌟 💬";
        font-size: initial;
    }

    span#toolbar_threshold:before {
        content: "👍";
        font-size: initial;
    }
}



table#my_comments {

    tbody, thead { float: left; }

    td {
        display: block;
    }

    tr {

        td.number {
        }

        td:nth-child(1) {
            font-weight: bold;
        }

        td:nth-child(2) {
            &:before {
                content: "💬 ";
            }
        }

        td:nth-child(3) {
            text-align: right;
            &:before {
                content: "📅 ";
            }
        }

        td:nth-child(4) {
            text-align: right;
            &:before {
                content: "Note: ";
            }
        }

        td:nth-child(5) {
            text-align: right;
            &:before {
                content: "Commentaires: ";
            }
        }

        td:nth-child(6) {
            text-align: right;
            &:before {
                content: "🗯 ";
            }
        }
    }

    th {
        display: none;
    }
}


table#my_posts {

    tbody, thead { float: left; }

    td {
        display: block;
    }

    tr {

        td.number {
        }

        td:nth-child(1) {
            font-weight: bold;
            &:before {
                content: "Forum: ";
            }
        }

        td:nth-child(2) {
            &:before {
                content: "Sujet: ";
            }
        }

        td:nth-child(3) {
            text-align: right;
            &:before {
                content: "Note: ";
            }
        }

        td:nth-child(4) {
            text-align: right;
            &:before {
                content: "Commentaires: ";
            }
        }

        td:nth-child(5) {
            text-align: right;
            &:before {
                content: "🗯 ";
            }
        }
    }

    th {
        display: none;
    }
}


table#my_trackers {

    tbody, thead { float: left; }

    td {
        display: block;
    }

    tr {

        td:nth-child(1) {
            font-weight: bold;
            &:before {
                content: "Getégorie: ";
            }
        }

        td:nth-child(2) {
            &:before {
                content: "Sujet: ";
            }
        }

        td:nth-child(3) {
            text-align: right;
            &:before {
                content: "État: ";
            }
        }

        td:nth-child(4) {
            text-align: right;
            &:before {
                content: "Note: ";
            }
        }

        td:nth-child(5) {
            text-align: right;
            &:before {
                content: "Commentaires: ";
            }
        }

        td:nth-child(6) {
            text-align: right;
            &:before {
                content: "Date: ";
            }
        }
    }

    th {
        display: none;
    }
}
