aside#sidebar {
    border-right: 4pt solid #7772;
    padding-right: 4pt;
}

div.figures {

    display:inline-block;
    float: left;
    padding: 0;
    border: 1px solid #7775;
    border-radius: 4pt;
    width: 6%;
    margin-left: 1%;
    text-align: center;
    font-size: smaller;
    box-shadow: 0px 0px 2px 2px #7773;

    figure.datePourCss {

        margin: 0;
        white-space: nowrap;

        div.jour {
            margin-right: 2pt;
        }

        * {
            display: inline-block;
            margin: 0;
        }

        div.annee {
            display: block;
        }
    }

    figure.image {
        display: none;
    }

    figure.score {
        margin: 0;
        margin-bottom: 4pt;
        border-bottom: 1px solid #7775;
    }
}

article {

    a[rel=license] {
        display: inline-block;
    }

    a[rel=license]:before {
        content: "⚖️ "
    }

    div.meta {
        width: 92%;
        float: left;
        display: block !important;
        font-size: smaller;
        margin-bottom: 2em;
    }

    div.tags * {
        display: inline-block;
        padding: 0;
        font-size: inherit;
    }

    div.tags {

        li input {
            display: none;
        }

        li:hover input {
            display: inherit;
        }

        div.tag_in_place:before {
            content: " 🏷"
        }

    }

    div.meta * {
        margin: 1pt auto;
    }

    div.meta div.tag_in_place {
        display: none;
    }

}

div#comments {

    ul, li {
        margin: 8pt 0;
        padding-left: 8pt;
        position: relative;
    }

    li.comment {

        background: #77777705;
        padding: 1pt;
        padding-left: 2pt;

        h2 {
            font-size: 100%;
            margin-right: 4em;
        }

        p.meta {
            margin-right: 5em;
            font-size: 90%;
        }

        figure.image {
            position: absolute;
            right: 0%;
            top: 0%;
            width: 5em;
            height: 5em;
            margin-right: 4pt;
            margin-top: 4pt;
        }

        a.close, a.parent, a.folding, a.anchor {
            font-family: monospace;
            letter-spacing: 0pt;
            font-size: 1.2em;
            text-decoration: none;
            margin: 0em;
        }

        footer.actions {
            font-size: 90%;
        }
    }

}

div#redaction_board, div.board {

    div.inbox {

        &>div {
            margin-block: 4pt;
            clear: both;
            padding: 4pt 2pt;

            &:nth-child(odd) {
                background-color: #7772;
            }

            img {
                float: right;
                max-height: 3em;
            }
        }
    }

}


div.attendee {

    img {
        max-height: 3em;
    }
}

div#toolbar {

    * {
        font-size: small;
        margin: 2pt 4pt;
    }
}
