/* default root styles */

/* Default fonts */
body {
    font-family: sans-serif;
}


body {
    a {
        text-decoration-color: #77fb;
        text-decoration-thickness: 1pt;
        text-decoration-style: dotted;
        opacity: 0.8;
	color: inherit;

        &:visited {
            text-decoration-color: #b7f5;
        }

        &:hover {
            text-decoration-thickness: 1pt;
            text-decoration-style: solid;
            opacity: 1;
        }

        &.no-decoration {
            border: none;
        }
    }
}

/* Site navigation (on top) */

nav#site {
    border-bottom: 4pt solid #7772;
    padding-bottom: 4pt;

    div.searchbox {

        label#label_query:before {
            content: "🔎 ";
        }

    }

    a[href="#contents"]:before {
        content: "📑 ";
    }

    a[href="#sidebar"]:before {
        content: "📖 ";
    }

    ul {
        li.active {
            border: 1pt solid #7777;
	    background-color: #7771;
        }
    }

    ul li, div.go_to_content a {
        display: inline-block;
        list-style-type: none;
        border: 1pt solid #7772;
        border-radius: 4pt;
        text-align: center;
        background-color: #7772;
        padding-inline: 2pt;
    }

    ul li:hover, div.go_to_content a:hover {
        background-color: #7775;
        color: #777a;
    }

    ul li a, div.go_to_content a {
        text-decoration: none;
    }

    div.go_to_content a {
        display: inline-block;
    }

    a[href="/"]:before {
        content: "🏠 ";
    }

    a[href="/news"]:before {
        content: "📰 ";
    }

    a[href="/journaux"]:before {
        content: "📒 ";
    }

    a[href="/liens"]:before {
        content: "🔗 ";
    }

    a[href="/forums"]:before {
        content: "🧭 ";
    }

    a[href="/wiki"]:before {
        content: "📚 ";
    }

    a[href="/redaction"]:before {
        content: "🪶 ";
    }

}


/* Main container esp. articles */

section#container {

    padding: 8pt;

    nav.pagination {

        margin-top: 20pt;
        margin-bottom: 8pt;

        span {
            margin-block: 2pt;
            min-width: 1.7em;
            display: inline-block;
            border-radius: 4pt;
            text-align: center;
            border: 1pt solid #7772;
            background-color: #7772;
        }

        span a {
            text-decoration: none;
        }

        span.next, span.last,
        span.prev, span.first {
            min-width: 5em;
            padding-left: 2pt;
            padding-right: 2pt;
        }

        span:hover {
            cursor: pointer;
            background-color: #7775;
        }
    }

    article.node h1:before {
        content: "🔗 "
    }

    article.diary h1:before {
        content: "📓"
    }

    article.news h1:before {
        content: "📰 "
    }

    article.post h1:before {
        content: "🧭 ";
    }


    article {
        margin-bottom: 3em;
        padding-bottom: 4pt;

        background-image: linear-gradient(
            to left,
            #7777, #0000
        );

        background-size: 100% 2pt;
        background-position: bottom left;
        background-repeat: no-repeat;
        border: none;

        div.content {
            clear:both;
        }

        h2 {
            font-size: 100%;
        }

        p {
            clear: both;
        }

        img {
            max-width: 98%;
        }

        blockquote {
            border-left: 2pt solid #7772;
            padding-left: 2pt;
        }

        h1 {
            clear: both;
            margin-bottom: 2pt;
            margin-top: 0;
            padding-bottom: 2pt;
            background-image: linear-gradient(
                to right,
                #7777, #0000
            );

            background-size: 100% 2pt;
            background-position: bottom left;
            background-repeat: no-repeat;
            border: none;

            /* TODO: remove topics links from articles */
            a.topic {
                display: none;
            }

            a {
                text-decoration: none;
            }
        }

        footer {
            display: block !important;
            text-align: right;
            font-size: smaller;

            * {
                display: inline-block;
            }
        }
    }
}

@keyframes branding {
    from {
        letter-spacing: 100pt;
        padding-left: 100%;
    }
    to {
        letter-spacing: 2pt;
        padding-left: 0;
    }
}

body#home-index {


    aside#sidebar {

	header#branding h1 {
            font-variant: small-caps;
            letter-spacing: 2pt;
            overflow: hidden;

            a {
		text-decoration: none;
		animation-name: branding;
		animation-duration: 5s;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: alternate;
            }
	}
    }
}

aside#sidebar {

    header#branding h1 {
        font-variant: small-caps;
        letter-spacing: 2pt;
        overflow: hidden;

        a {
            text-decoration: none;
        }
    }

    /* Login block */
    div.login {
        h1 {
            a {
                text-decoration: none;
            }

            &:before {
                content: "👤 ";
            }
        }
    }

    div#redaction_box {

        h1 {
            border-bottom: 1pt solid #7772;

            &:before {
                content: "📰 ";
            }

            a {
                text-decoration: none;
            }
        }

        li {
            font-size: small;
            margin-bottom: .75em;
        }
    }


    #poll_box {

        font-size: small;

        h1 {
            border-bottom: 1pt solid #7772;

            &:before {
                content: "📊 "
            }

            a {
                text-decoration: none;
            }
        }
        h2 {
            font-size: small;
            font-weight: normal;
        }

        p.total_votes, div.explanations p {
            font-weight: bold;
        }
    }


    div#sections_box {
        h1 {
            border-bottom: 1pt solid #7772;

            &:before {
                content: "🗃 "
            }

            a {
                text-decoration: none;
            }
        }


    }

    div#forum_box {

        h1 {
            border-bottom: 1pt solid #7772;

            &:before {
                content: "🧭 ";
            }

            a {
                text-decoration: none;
            }
        }

        li span {
            font-size: larger;
            display: block;
            margin-top: 1em;
            margin-bottom: 0.2em;
        }

        ul {
            ul li {
                display: inline-block;
                border: 1pt solid #7772;
                border-radius: 0 4pt 4pt 4pt;
                font-variant: all-small-caps;
                padding: 1pt 2pt;
                margin: 2pt;
                font-size: small;
            }

            ul li:hover {
                background-color: #7772;
                border: 1pt solid #7777;
            }

            ul li a {
                text-decoration: none;
            }
        }

    }

    div#sections_box {

        ul {
            padding: 4pt;
            text-align: left;

            /*
            li:nth-child(odd) {
                transform: rotate(-2deg);
            }

            li:nth-child(even) {
                transform: rotate(2deg);
            }*/
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            display: inline-block;
            border: 1pt solid #7772;
            border-radius: 0 4pt 4pt 4pt;
            font-variant: all-small-caps;
            padding: 1pt 2pt;
            margin: 2pt;
            font-size: small;
        }

        ul li:hover {
            background-color: #7772;
            border: 1pt solid #7777;
        }

        ul li a {
            text-decoration: none;
        }

    }

    #near_tags_box,#tags_box {

        h1 {
            border-bottom: 1px solid #7772;

            &:before {
                content: "🏷 ";
            }
        }

        ul {

            li {

                list-style-type: none;
                display: inline-block;
                border: 1px solid #7775;
                background-color: #7772;
                font-size: smaller;
                border-radius: 0 4pt 4pt 4pt;
                margin: 4pt;
                padding: 2pt;

                &:hover {
                    background-color: #7775;
                }

                span {
                    font-size: x-small;
                    border: 1px solid #7779;
                    background-color: #7775;
                    border-radius: 50%;
                    margin: 2pt;
                    padding: 2pt;
                    min-width: 1.5em;
                    display: inline-block;
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    font-size: small;
                    font-variant: all-small-caps;
                }
            }
        }
    }
}

main#contents, div#poll_box {
    clear: both;
    padding-top: 1em;
}

nav.toolbox {

    .new_content {
        float: right;
        margin: 4pt;

        a:before {
            content: "🪶";
        }
    }

    .follow_feed {
        float: right;
        margin: 4pt;

        a:before {
            content: "⚛";
        }
    }
}


div.order_navbar {
    ul {
        list-style: none;
        display: inline;
        padding: 0;
    }

    ul li {
        list-style: none;
        display: inline;
    }
}

nav.pagination {
    clear: both;
}


nav.toolbox {
    width: 100%;
}

nav.toolbox+footer p {
    width: 20%;
    float: right;
    height: 2em;
}

div#toolbar {
    margin-top: 2em;
    clear: both;
    border-top: 4pt solid #7772;
    display: flex;
    padding: 4pt;
}

img.avatar {
    float: right;
    margin-right: 4pt;
    filter: grayscale(100%);
    opacity: 0.5;
    max-height: 4em;
}

img.avatar:hover {
    filter: none;
    opacity: 1;
}


/* Comments */
div#comments {

    margin-top: 4em;
    border-top: 4pt solid #7772;

    ul, li {
        list-style-type: none;
        position: relative;
    }

    li.fold {

        & > p, & > figure, & > div, & > footer {
            display: none;
        }

        border-block: 1pt dashed #7775;
        border-right: 1pt dashed #7775;
    }

    li.comment {

        blockquote {
            border-left: 1pt solid #7775;
            padding-left: 4pt;
            font-style: italic;
        }

        img {
            max-width: 100%;
        }
    }

    footer a.action:before {
        content: "💬"
    }

    p.signature {
        font-size: small;
        font-style: italic;
    }

    /* Nested comments */
    ul {

        li.comment {
            border-left: 2pt solid #cc77cc77;
        }

        li li.comment {
            border-left: 2pt solid #77cc7777;
        }

        li li li.comment {
            border-left: 2pt solid #cc777777;
        }

        li li li li.comment {
            border-left: 2pt solid #7777cc77;
        }

        li li li li li.comment {
            border-left: 2pt solid #77cccc77;
        }

        li li li li li li.comment {
            border-left: 2pt solid #cccc7777;
        }

        li li li li li li li.comment {
            border-left: 2pt solid #cc77cc77;
        }

        li li li li li li li li.comment {
            border-left: 2pt solid #77cc7777;
        }

        li li li li li li li li li.comment {
            border-left: 2pt solid #cc777777;
        }

        li li li li li li li li li li.comment {
            border-left: 2pt solid #7777cc77;
        }

        li li li li li li li li li li li.comment {
            border-left: 2pt solid #77cccc77;
        }

        li li li li li li li li li li li li.comment {
            border-left: 2pt solid #cccc7777;
        }

        li li li li li li li li li li li li li.comment {
            border-left: 2pt solid #77777777;
        }
    }

    footer {

        text-align: right;

        * {
            display: inline-block;
        }
    }
}

#sidebar ul {
    padding-left: 0;
}


header#branding h1 {
    background-image: url(https://linuxfr.org/images/logos/linuxfr2_logo-frozen.png);
    min-height: 240px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    text-align: center;
}

aside ul {
    list-style-type: none;
}

.login h1 {
    border-bottom: 1pt solid #7772;
}

.login li:last-child {
    text-align: center;
    margin-top:1em;
}


article p:has(img) {
    text-align: center;
}

pre {
    border: 1pt solid #7775;
    border-radius: 4pt;
    padding: 4pt;
    background: #7771;
    overflow:hidden;
    text-overflow: ellipsis;
}

pre:hover {
    min-width: fit-content;
}

#sections_box h1 {
    border-bottom: 1pt solid #7772;
}
#sections_box h1 a {
    text-decoration: none;
}

#sections_box ul {
    list-style-type: none;
    padding: 0;
}

#sections_box ul li {
    display: inline-block;
    border: 1pt solid #7772;
    border-radius: 0 4pt;
    padding: 1pt 2pt;
    margin: 2pt;
    font-size: small;
}

#sections_box ul li:hover {
    background-color: #7772;
    border: 1pt solid #7777;
}

#sections_box ul li a {
    text-decoration: none;
}

section#phare article div.tags * {
    display: inline-block;
    padding: 0;
    font-size: inherit;
}

section#phare article div.tags input {
    display: none;
}

section#phare article div.meta * {
    margin: 1pt auto;
}

section#phare article div.meta div.tag_in_place {
    display: none;
}

section#phare {
    padding-bottom: 4pt;
    border-bottom: 4pt solid #7772;
    margin-bottom: 8pt;
}

aside.banner {
    grid-area: header;
    text-align: center;
    padding-bottom: 4pt;
    border-bottom: 4pt solid #7772;
    margin-bottom: 8pt;
}


ul.poll {

    list-style-type: none;
    text-indent: 0;
    margin: 0;
    padding: 0;
    display: table;

    li div.result {
        background-color: #7772;
        border: 1pt solid #7777;
        border-radius: 4pt;
        font-size: smaller;
        padding: 2pt;
    }

    li {
        list-style-type: none;
        text-indent: 0;
        margin-top: 8pt;
        display: table-row;
        vertical-align:middle;
        padding: 4pt 8pt;
        height: 3em;

        &:nth-child(odd) {
            background: #7772;
        }

        &:nth-child(even) {
        }

        &:hover {
            background-color: #7775 !important;
        }

        input {
            display: table-cell;
            vertical-align: middle;
            width: 2em;
            height: 2em;
            padding: 0.5em;
            margin: 0.5em;
        }

        label {
            display: table-cell;
            vertical-align: middle;
        }
    }
}


table#my_posts, table#my_comments, table#my_trackers {
    margin-top: 2em;
    width: 100%;
    border: 1px solid #7775;
    font-size: smaller;

    td {
        padding: 2pt 2pt;
    }

    tr:nth-child(odd) {
        background-color: #7772;
    }

    td.number {
        text-align: center;
    }

    td.date {
        text-align: center;
    }

    tr:has(td img) {
        font-weight: bold;
    }
}

aside.banner img {
    max-width: 100%;
}


div.incitation h2 {
    text-align: center;
}

div.incitation {
    border-bottom: 4pt solid #7772;
}

/* TODO: supprimer les guillemets de "Accueil" */
section#container > h1 {
    display: none;
}

@keyframes phare {
    from {
        background-color: transparent;
        border-color: #7772;
    }
    to {
        background-color: rgba(255, 165, 0, 0.1);
        border-color: rgba(255, 165, 0, 0.2);
    }
}

section#phare {
    padding: 8pt;
    background-color: transparent;
    border: 3px double #7772;
    border-radius: 8pt;
    animation-name: phare;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

/* For the sections page only */

main#contents {

    div.body {
        text-align: justify;

        div {
            display: inline-block;
            border: 1px solid #7773;
            border-radius: 8pt;
            margin: 4pt;
            padding: 4pt;
            text-align: center;
            box-shadow: 0px 0px 2px 2px #7773;

            a {
                text-decoration: none;
            }
        }
    }
}


/* TODO: Utilisez une classe, svp! */
div#redaction_box {

    li img {
        display: none;
    }

    li:has(img) {
        font-weight: bold;

        a:after {
            content: " 💬"
        }
    }
}

footer.actions {

    input {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }

    .download {
        padding-inline: 2pt;
    }

    .download:before {
        content: "📄";
    }

    form, div.vote form {
        margin-inline: 2pt;
    }

    form:has(input.unread):before {
        content: "❌";
    }

    div.vote form[action$="for"]:before {
            content: "👍"
    }

    div.vote form[action$="against"]:before {
            content: "👎"
    }

}


div.tags {

    &:before {
        content: "🔖"
    }

    /* Pas super, mais bon. J'essaye de faire en CSS
     ce qui se fait assez facilement en JavaScript */
    &:hover div.tag_in_place {
        display: initial !important;
    }

    /* Garde le block affiché tant que l'édition est en cours */
    & div.tag_in_place:has(input:focus) {
        display: initial !important;
    }

    ul li {
        display: inline-block;
        border: 1pt solid #7775;
        border-top-right-radius: 4pt;
        border-bottom-left-radius: 4pt;
        border-bottom-right-radius: 4pt;
        margin: 1pt;
        padding: 0 2pt;
        font-variant: small-caps;
        font-style: italic;

        &:hover {
            border-color: #777a;

            input.remove_tag {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text x='2pt' y='1.1em' font-size='1em'>❌</text></svg>");
                background-size: cover;
                background-repeat: no-repeat;
                padding-left: 10pt !important;

                &:hover {
                    background-color: #7772;
                }
            }

            input.add_tag {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text x='2pt' y='1.3em' font-size='1em'>✅</text></svg>");
                background-size: cover;
                background-repeat: no-repeat;
                padding-left: 10pt !important;


                &:hover {
                    background-color: #7772;
                }

            }
        }

        input.remove_tag, input.add_tag {
            font-size: x-small;
            margin: 0 2pt;
            padding: 0;
        }

        a {
            text-decoration: none;
            padding: 0 2pt;
        }
    }
}

span.nb_comments:before {
    content: "💬 "
}

div.notice {
    clear: both;
}

div.content {

    table {
        border: 1px solid #7775;
        border-collapse: collapse;
    }

    table tr th {
        background-color: #7772;
        padding-inline: 2pt;
    }

    table tr:nth-child(even) {
        background-color: #7772;
    }

    hr {
        width: 20%;
        opacity: 0.2;
    }

}

footer#bigfooter {

    nav#last_comments h1:before {
        content: "💬 ";
    }


    nav#popular_tags h1:before {
        content: "🏷 ";
    }

    nav#about_us h1:before {
        content: "📜 ";
    }

    section#friends h1:before {
        content: "🌍 ";
    }

}


form.new_comment, form.new_diary, form.new_post, form.new_news {

    textarea {
        width: 100%;
        min-height: 5em;
    }

    textarea:focus {
        min-height: 14em;
    }

    /* svp, ajoutez un editeur... */
    div.markItUpHeader {
        display: none;
    }

    fieldset {
        border: 1px solid #7772;
        margin-block: 4pt;
        border-radius: 4pt;
    }
}

/* svp, utilisez <details> */
div.markdown_cheatsheet {
    display: none;
}


form#new_tracker {

    strong {
        font-weight:normal;
        font-style: italic;
        font-size: 110%;
    }

    p {

        label {
            padding: 2pt 0;
            margin: 4pt 1%;
            width: 10%;
            display: inline-block;
        }

        select {
            padding: 2pt 1%;
            width: 20%;
        }

        input[type="submit"] {
            padding: 2pt 0;
            margin: 4pt 1%;
            width: 20%;
            margin-left: 12.4%;
            display: inline-block;
        }
    }

}

div#toolbar a.prev, div#toolbar a.next, div#toolbar a.change {
    text-decoration: none;
    border: 1px solid #7775;
    background-color: #7775;
    border-radius: 2pt;
    width: 2em;
    display: inline-block;
    text-align: center;
}



div#user_recent_contents {

    p:before {
        content: "📅 "
    }

    p+p:before {
        content: "";
    }

    h1 {
        border-bottom: 1px solid #7772;

        &:before {
            content: "👤 ";
        }
    }

    ul {
        li {
            list-style-type: circle;
            list-style-position: inside;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}

div#user_recent_nodes {

    ul {
        li {
            margin-bottom: 1em;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                 display: none;
            }
        }

        li.comment:before  {
            content: "💬";
        }

        li.Bookmark:before  {
            content: "🔗";
        }

        li.Diary:before {
            content: "📖";
        }

        li.News:before {
            content: "📰";
        }

        li.Post:before {
            content: "🧭";
        }

        li.Tracker:before {
            content: "💡";
        }
    }

    h1 {
        border-bottom: 1px solid #7772;

        &:before {
            content: "🗓";
        }
    }
}

div.ac_results {
    background-color: inherit !important;
    ul {
        list-style-type: none;
        padding: 2pt;
        margin: 0;
        border: 1px solid #7772;
        li {
        }
    }
}
